
<div>
  <app-header></app-header>


  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center superior-primera ">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">CHRISTMASZOM</h1>
      <p class="lead fw-normal">Disfruta visitando nuestra tienda de Navidad, y adquiere los artículos más selectos de estas fiestas</p>
      <a class="btn btn-outline-secondary" href="#">En construcción</a>
    </div>
    <div class="shadow-sm d-none d-md-block">

    </div>
    <div class="shadow-sm d-none d-md-block"></div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 h-100 my-md-3 ps-md-3 ">
    <div class="escaparate-iz1 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-black overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Decoración para el Arbol</h2>
        <p class="lead">Crea un super arbol de Navidad.</p>
      </div>
    </div>

    <div class="escaparate-de1 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-black overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Decoración para el Arbol</h2>
        <p class="lead">Crea un super arbol de Navidad.</p>
      </div>
    </div>
  </div>




  </div>
