<app-header></app-header>
<div class="row">
  <p></p>
  <p></p>
  <p></p>
  <p></p>
</div>
<form>

  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label>Via</label>
      <input
        type="text"
        class="form-control"
        placeholder="Nombre de la Vía"

        name="via"
        id="via"
      />
    </div>
    <div class="col-md-4 mb-3">
      <label>Numero</label>
      <input
        type="text"
        class="form-control"
        placeholder="numero"
        name="numero"
        id="numero"
      />
    </div>

    <div class="col-md-4 mb-3">
      <label>CP</label>
      <input
        type="text"
        class="form-control"
        placeholder="CP"
        name="cp"
        id="cp"
      />
    </div>

    <div class="col-md-4 mb-3">
      <label>Provincia</label>
      <input
        type="text"
        class="form-control"
        placeholder="provincia"
        name="provincia"
        id="provincia"
      />
    </div>
    <div class="col-md-4 mb-3">
      <label>Localidad</label>
      <input
        type="text"
        class="form-control"
        placeholder="Localidad"
        name="localidad"
        id="localidad"
      />
    </div>
  </div>
  <button  class="btn btn-primary" type="submit">
    Pagar
  </button>
</form>
