<app-header></app-header>
<div class="container">
<div class="row col-12">

<p></p>
<p></p>
<p></p>
<p></p>
</div>

  <div class="row">
    <div class="col-1">
      <div class="row">
        <img
          src="../assets/images/christmas-dickens.jpg"
          class="img-fluid img-thumbnail"
          alt=""
        />
      </div>
      <div class="row">
        <img
          src="../assets/images/christmas-dickens.jpg"
          class="img-fluid img-thumbnail"
          alt=""
        />
      </div>
      <div class="row">
        <img
          src="../assets/images/christmas-dickens.jpg"
          class="img-fluid img-thumbnail"
          alt=""
        />
      </div>
    </div>
    <div class="col-5">
      <div class="row">
        <img
          src="../assets/images/christmas-dickens.jpg"
          class="img-fluid img-thumbnail"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
