<div class="container">

  <div class="col-6">
    <div class="row">
      <div>
        <H2>PEDIDO</H2>
        <H3>Dirección:</H3>
        <p>{{ pedido?.direccionPedido.via }}</p>
        <p>{{ pedido?.direccionPedido.numero }}</p>
        <p>{{ pedido?.direccionPedido.cp }}</p>
        <p>{{ pedido?.direccionPedido.localidad }}</p>
        <p>{{ pedido?.direccionPedido.pronvicia }}</p>
        <H5>Articulos</H5>
        <div *ngIf="pedido?.listaProcutosPedido">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th class="col-2">Nombre</th>
                  <th class="col-10">Cantidad</th>
                </tr>
              </thead>
              <tbody
                *ngFor="
                  let detalle of pedido?.listaProcutosPedido">
                <tr>
                  <td>{{ detalle.nombre }}</td>
                  <td>{{ detalle.cantidad }}</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>

  <h2 class="mb-5">Total a pagar</h2>

  <div class="col-md-4 mb-3">
    <button (click)='checkout( [pedido?.total] )' class="btn btn-primary btn-block">Confirmar pedido por: {{ pedido?.total }}€</button>
  </div>
  <div class="col-md-4 mb-3">
    <button (click)='eliminaPedido()' class="btn btn-primary btn-block">Cancelar Pedido</button>
  </div>

</div>
