<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 card border-primary">
      <div class="card-header text-center">Pago del pedido</div>
      <div class="card-body">
    <div class="row ">
      <div>
        <H2>PEDIDO</H2>
        <H3>Dirección:</H3>
        <p>Nombre Vía :{{ pedido?.direccionPedido.via }}</p>
        <p>ID Pedido: {{ pedido?.direccionPedido.numero }}</p>
        <p>CP: {{ pedido?.direccionPedido.cp }}</p>
        <p>Localidad: {{ pedido?.direccionPedido.localidad }}</p>
        <p>Provincia: {{ pedido?.direccionPedido.pronvicia }}</p>
        <H5>Articulos</H5>
        <div *ngIf="pedido?.listaProcutosPedido">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th class="col-2">Nombre</th>
                  <th class="col-10">Cantidad</th>
                </tr>
              </thead>
              <tbody
                *ngFor="
                  let detalle of pedido?.listaProcutosPedido">
                <tr>
                  <td>{{ detalle.nombre }}</td>
                  <td>{{ detalle.cantidad }}</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>

  <h2 class="mb-5">Total a pagar</h2>

  <div class="col-md-4 mb-3" *ngIf="token==null">
    <button (click)='checkout( [pedido?.total] )' class="btn btn-secondary btn-block">Confirmar pedido por: {{ pedido?.total }}€</button>
  </div>
  <div class="col-md-4 mb-3" *ngIf="token==null">
    <button (click)='eliminaPedido()' class="btn btn-secondary btn-block">Cancelar Pedido</button>
  </div>

</div>
