<app-header></app-header>
<div class="card bg-light text-secundary">
  <div class="card-header"></div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <p></p>
        <p></p>
        <p></p>
        <p></p>
      </div>
      <div class="row">
        <div class="input-group mb-3">
          <div class="custom-file col-12 col-sm-6">
            <input
              (change)="selecionarFoto($event)"
              type="file"
              class="custom-file-input"
              id="inputGroupFile04"
              aria-describedby="inputGroupFileAddon04"
              value="inputGroupFile04"
            />

          </div>

          <div class="input-group-append">
            <button
              (click)="subirImagen()"
              class="btn btn-outline-secondary m-1"
              type="button"
              id="inputGroupFileAddon04"
            >
              Subir
            </button>
          </div>
          <div class="input-group-append">
            <button
              (click)="botonTerminar()"
              class="btn btn-outline-secondary m-1"
              type="button"
              id="inputGroupFileAddon04"
            >
              Terminar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div >
        <div class="row" *ngIf="producto?.productoCaracteristicas">
          <div class="row">
            <div
            class="col-3"
              *ngFor="
                let imagen of producto.productoCaracteristicas.imagenesProducto
              "
            >
              <div >
                <p>{{ imagen.descripcionImagen }}</p>
                <img
                  src="http://localhost:8090/api/productos/producto/imagen/{{
                    imagen.imagen
                  }}"
                  class="img-thumbnail rounded"
                />

                <div class="col-2">
                  <button
                    (click)="eliminaImagen([imagen.imagen])"
                    class="btn btn-secondary btn-block "
                    type="button"
                  >
                    Eliminar
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>

