<nav
  class="nav-tabs navbar-expand-lg navbar-dark"
  style="background-color: rgb(44, 3, 3)"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/productosgrid"
            >La tienda</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/listapedidos">Mis Pedidos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/cesta">Mi Cesta</a>
        </li>
        <li *ngIf="tienePermisos('ROLE_ADMIN')" class="nav-item">
          <a class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false" >Empleados</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a routerLink="/altaproducto" class="dropdown-item">Alta Producto</a></li>
            <li><a class="dropdown-item">Configuracion Tienda</a></li>
            <li><a class="dropdown-item">Pedidos</a></li>
          </ul>
        </li>
      </ul>

      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
      <div class="col-1"></div>
      <ul class="navbar-nav navbar-right">
        <li *ngIf="!estaAuthenticado()">
          <a (click)="irALogin()" class="btn btn-outline-primary">Acceder</a>
        </li>

        <li *ngIf="estaAuthenticado()" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ getUsuario() }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a routerLink="/empleados" class="dropdown-item">Cuenta</a></li>
            <li><a (click)="logout()" class="dropdown-item">Salir</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
