<div class="col-md-12">
  <div class="p-card">
    <div>
      <img src="../assets/images/christmas-tree-pieces.jpg" class="d-block w-100"/>
    </div>

    <div class="p-details">
      <div class="d-flex justify-content-between align-items-center mx-2">
        <h6>{{ producto.nombre }}</h6>
        <span></span>
      </div>
      <div class="mx-2">
        <hr class="line" />
      </div>
      <div class="d-flex justify-content-between mt-2 spec mx-2">
        <div class="d-flex flex-column align-items-center">
          <h6 class="mb-0">€</h6>
          <span>{{ producto.precio }}</span>
        </div>
        <div class="d-flex flex-column align-items-center">
          <h6 class="mb-0">PUNTUACIÓN</h6>
          <span>{{ producto.valoracion }}</span>
        </div>
        <div class="d-flex flex-column align-items-center">
          <h6 class="mb-0">CATEGORIA</h6>
          <span>{{ producto.categoria }}</span>
        </div>
      </div>
      <div class="buy mt-3">
        <button class="btn btn-primary btn-block" type="button">
          Añadir a la Cesta
        </button>
      </div>
    </div>
  </div>
</div>
