<app-headerempleado></app-headerempleado>
<div class="container">


<form>

  <div class="form-group row">
    <label>Nombre</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" (input) = 'setProductoNombre($event)' >
      <div class="col-12"></div>
    </div>
  </div>
  <div class="form-group row">
    <label>Categoria</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" (input) = 'setProductoCategoria($event)' >
      <div class="col-12"></div>
    </div>
  </div>

  <div class="form-group row">
    <label>Precio</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" (input) = 'setProductoPrecio($event)' >
      <div class="col-12"></div>
    </div>
  </div>

  <div class="form-group row">
    <label>Descripción del Producto</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" (input) = 'setProductoCaracteristicasDescripcion($event)' >
      <div class="col-12"></div>
    </div>
  </div>


  <div class="form-group row">
    <label>Clave de Especificacion</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" (input) = 'setProductoClaveEspecificacion($event)' >
      <div class="col-12"></div>
    </div>
  </div>
  <div class="form-group row">
    <label>Especificacion</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" (input) = 'setProductoEspecificacion($event)' >
      <div class="col-12"></div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10 offset-sm-2">
      <button type="submit" class="btn btn-primary"
      (click)="agregarEspecificacion()">Agregar Especificacion</button>
    </div>
  </div>







  <div class="form-group row">
    <div class="col-sm-10 offset-sm-2">
      <button type="submit" class="btn btn-primary"
      (click)="agregarProducto()">Guardar</button>
    </div>
  </div>


</form>

</div>
<app-footer></app-footer>

